.forms-footer {
    background-image: url(/static/img/fon-footer.png);
    max-width: 1920px;
    height: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    
}
.form-footer-block {
    margin-left: auto;
    margin-right: auto;
    max-width: 1250px;
    padding-top: 165px;
}
.form-footer-block input{
    width: 385px;
    height: 45px;
    background: rgba(30, 30, 30, 0.7);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(2px);
    border-radius: 5px;
    padding-left: 15px;
}
.form-footer-block button{
    width: 400px;
    height: 45px;
    background: #FFFFFF;
    border: 2px solid #DBA833;
    backdrop-filter: blur(2px);
    border-radius: 5px;
}
.form-footer-block p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}

.fon-footer-comand {
    height: 690px;
    max-width: 1920px;
    background: #1F1F1F;
    background-position: center center;
    margin-top: -65px;
    margin-right: auto;
    margin-left: auto;
}

.fon-footer-comand h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 39px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 30px;
}
.fon-footer-comand-card {
    display: grid;
    /* Автоматически заполняем на всю ширину grid-контейнера */
    grid-template-columns: repeat(auto-fill, 350px);
    width: 100%;
    max-width: 1110px; /* Ширина grid-контейнера */
    justify-content: center;
    justify-items: center; /* Размещаем карточку по центру */
    column-gap: 30px; /* Отступ между колонками */
    row-gap: 20px; /* Отступ между рядами */
    margin-left: auto;
    margin-right: auto;
    
}

.footer-comand-card {
    width: 350px;
    height: 536px;
    text-align: center;
    margin-top: 50px;
}

.footer-comand-card h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #DBA833;
}

.footer-comand-card p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.footer-comand-card span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #B9B9B9;
}
.footer-bottom-contact1-1 p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #DBA833;
    padding-bottom: 25px;
}

.footer-bottom-contact1-2 p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #5B5B5B;
padding-bottom: 15px;
}

.footer-bottom-contact1-3 p{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #5B5B5B;
padding-bottom: 15px;
}

.footer-bottom-contact1-4{
    display: flex;
    max-width: 380px;
    justify-content: space-between;
}

.footer-bottom-contact1 img{
    margin-right: 18px;
}

.footer-bottom-contact1 {
    height: 90px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    border-bottom: 2px dashed #4F4F4F;
    padding-bottom: 40px;
}
.footer-bottom-contact2 {
    height: 55px;
}

.footer-bottom-contact {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    margin-top: 54px;
}

.footer-bottom-contact2-soc-seti {
    display: flex;
    max-width: 370px;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom-contact2 {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom-contact2-p p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #5B5B5B;
    padding-right: 30px;
}

.footer-bottom-contact2-p {
    display: flex;
}

.footer-bottom-contact2-soc-seti span{
    padding-right: 20px;
}
.footer-bottom-contact2-soc-seti img{
    padding-right: 20px;
}

@media(max-width:1300px){
    .form-footer-block {
        margin-left: 30px !important;
    }
    .form-footer-block {
        margin-left: auto;
        margin-right: auto;
        
    }
    .form-footer-block button {
        margin-top: 20px;
    }
}

@media(max-width:1132px){
    .fon-footer-comand {
        height: auto;
        max-width: 1920px;
        /* background-image: url(/static/img/Group\ 104.png); */
        background: #1F1F1F;
        background-position: center center;
        margin-top: -65px;
        margin-right: auto;
        margin-left: auto;
    }
    .footer-comand-card img{
        width: 250px;
        height: 285px;
    }
    .footer-comand-card {
    width: 300px;
    height: 400px;
    margin-top: 10px;
    padding-bottom: 20px;
    }
}

@media(max-width:859px){
    .form-footer-block input {
        margin-top: 20px;
    }
    .form-footer-block {
        margin-left: auto !important;
        margin-right: auto;
        width: 402px;
        text-align: center;
        padding-top: 50px;
    }
    
    
}

@media(max-width:760px){
    .footer-bottom-contact1 {
        display: block;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
    }
    .footer-bottom-contact1 img{
        display: none;
    }
    .footer-bottom-contact2 {
        display: block;
        order: 2;
    }
    .footer-bottom-contact2-soc-seti img {
        padding-right: 10px;
    }
    
}

@media(max-width:500px){
    .form-footer-block input {
        width: 350px;
    }
    .form-footer-block {
        width: 367px;
    }

}

@media(max-width:400px){
    .form-footer-block input {
        width: 300px;
    }
    .form-footer-block {
        width: 317px;
    }
}

@media(max-width:350px){
    .form-footer-block input {
        width: 250px;
    }
    .form-footer-block {
        width: 267px;
    }
}