.fuel {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.fuel-left {
    background-image: url(../fuel-left.png);
    width: 960px;
    height: 800px;
    background-position:center center;
    background-size:cover;
}
.fuel-right{
    background-image: url(../fuel-right.png);
    width: 960px;
    height: 800px;
    transform: rotate(180deg);
    transform: scaleX(-1);
    background-size:cover;
    display: flex;
    justify-content: left;
}

.fuel-twoo {
    display: flex;
}
.fuel-bottom {
    background-image: url(../fuel-3.png);
    width: 100%;
    height: 100%;
    background-position:center center;
    background-size:cover;
}
.fuel-left-card {
    width: 530px;
    height: 400px;
    background: rgba(44, 44, 44, 0.8);
    backdrop-filter: blur(2.5px);
    
    border-radius: 30px 0 0 0;
    /* margin-left: auto;
    margin-right: 0; */
    /* margin-bottom: 0;
    margin-top: auto; */
    margin: 400px 0 0 auto;
    display: flex;
    

}
.fuel-right-card {
    width: 530px;
    height: 400px;
    background: rgba(44, 44, 44, 0.8);
    backdrop-filter: blur(2.5px);
    border-radius: 0 0 0 30px  ;
    margin-right: 430px;
    margin-left: 0;
    display: flex;
    position: absolute;
    right: -430px;

}
.fuel-bottom-card {
    width: 530px;
    height: 400px;
    background: rgba(44, 44, 44, 0.8);
    backdrop-filter: blur(2.5px);
    margin-left: auto;
    margin-right: 5%;
}
.fuel-left-card-text {
    height: 278px;
    width: 360px;
    margin: auto;
}
.fuel-left-card-text h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}
.fuel-left-card-text p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #CECECE;
    margin-top: 15px;
    margin-bottom: 30px;
}
.fuel-left-card-text button{
    background: #DBA833;
    border-radius: 5px;
    width: 350px;
    height: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.fuel-right-card-text h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}
.fuel-right-card-text p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #CECECE;
    margin-top: 15px;
    margin-bottom: 30px;
}
.fuel-right-card-text button{
    background: #DBA833;
    border-radius: 5px;
    width: 350px;
    height: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.fuel-bottom-card-text h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}
.fuel-bottom-card-text p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #CECECE;
    margin-top: 15px;
    margin-bottom: 30px;
}
.fuel-bottom-card-text button{
    background: #DBA833;
    border-radius: 5px;
    width: 350px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.fuel-right-card-text {
    height: 278px;
    width: 360px;
    margin: auto;
    transform: rotate(180deg);
    transform: scaleX(-1);
    margin-top: auto;
    margin-bottom: auto;
}
.fuel-bottom-card-text {
    height: 278px;
    width: 360px;
    padding-top: 61px;
    margin: auto;
}

@media(max-width:1090px){
    .fuel-right-card{
        width: 470px;
        height: 310px;
    }
    .fuel-left-card {
        width: 470px;
        height: 310px;
    }
    .fuel-bottom-card {
        width: 470px;
        height: 310px;
    }
    .fuel-right{
        height: 710px;
    }
    .fuel-left{
        height: 710px;
    }
    .fuel-bottom{
        height: 310px;
        position: relative;
    }
    .fuel-bottom-card-text {
        padding-top: 30px;

    }
}

@media(max-width:980px){
    .fuel-right-card{
        width: 420px;
        height: 280px;
    }
    .fuel-left-card {
        width: 420px;
        height: 280px;
        margin-top: 310px;
    }
    .fuel-bottom-card {
        width: 420px;
        height: 280px;
    }
    .fuel-right-card-text {
        padding: 10px;
    }
    .fuel-left-card-text {
        padding: 10px;
    }
    .fuel-bottom-card-text {
        padding: 10px;
    }
    .fuel-right-card-text h2 {
        font-size: 24px;
    }
    .fuel-left-card-text h2 {
        font-size: 24px;
    }
    .fuel-bottom-card-text h2 {
        font-size: 24px;
    }
    .fuel-right-card-text p {
        font-size: 15px;
    }
    .fuel-left-card-text p {
        font-size: 15px;
    }
    .fuel-bottom-card-text p {
        font-size: 15px;
    }
    .fuel-twoo {
        height: 590px;
    }
    .fuel-left {
        height: 590px;
    }
    .fuel-right {
        height: 590px;
    }
}

@media(max-width:880px){
    .fuel-bottom-card-text p {
        line-height: 19px;
    }
    .fuel-right-card{
        width: 350px;
        height: 210px;
    }
    .fuel-left-card {
        width: 350px;
        height: 210px;
    }
    .fuel-bottom-card {
        width: 350px;
        height: 210px;
        top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    .fuel-right-card-text {
        height: 218px;
        width: 310px;
        text-align: center;

    }
    .fuel-right-card-text button {
        width: 250px;
        height: 40px;
    }
    .fuel-right-card-text p {
        margin-top: 7px;
        margin-bottom: 10px;
    }
    .fuel-left-card-text {
        height: 218px;
        width: 310px;
        text-align: center;
    }
    .fuel-left-card-text button {
        width: 250px;
        height: 40px;
        
    }
    .fuel-left-card-text p {
        margin-top: 7px;
        margin-bottom: 10px;
    }
    .fuel-bottom-card-text {
        height: 218px;
        width: 310px;
        text-align: center;
        
    }
    .fuel-bottom-card-text button {
        width: 250px;
        height: 40px;
    }
    .fuel-bottom-card-text p {
        margin-top: 7px;
        margin-bottom: 10px;
    }
    .fuel-left-card {
        margin-top: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    .fuel-twoo {
        height: 460px;
    }
    .fuel-left {
        height: 460px;
    }
    .fuel-right {
        height: 460px;
    }
}
@media(max-width:720px){
    .fuel-twoo {
        display: block;
        height: auto;
    }
    .fuel-right-card {
        top: 50% ;
        left: 50% ;
        transform: translate(-50%,-50%);
        position: absolute;
    }
    .fuel-left-card {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: auto;
        position: absolute;
        top: 50% ;
        left: 50% ;
        transform: translate(-50%,-50%);
    }
    .fuel-left {
        width: 100%;
        position: relative;
    }
    .fuel-right {
        width: 100%;
        height: 460px;
        position: relative ;
        background-position: center center;
    }
}

@media(max-width:500px){
    .fuel-right {
        height: 350px;
    }
    .fuel-left {
        height: 350px;
    }
}
