.Gas-station-Neftekor {
    display: flex;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.Neftekor-block {
    max-width: 1200px;
    height: auto;
    background: rgba(255, 255, 255, 0.8);
    border: 3px dashed #2D2D2D;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.Neftekor-block h2{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    text-align: center;
    color: #DBA833;
    margin-top: 20px;
}
.Neftekor-block p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #5B5B5B;
}
.Neftekor-block button{
    border: 2px solid #DBA833;
    border-radius: 5px;
    background: none;
    width: 444px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #DBA833;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    margin-top: 20px;
}
.Gas-station-Neftekor-arrow {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.Neftekor-block-img-card {
    width: 350px;
    height: 316px;
}
.Neftekor-block-img-card h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}
.Neftekor-block-img-card p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #5B5B5B;
}
.Neftekor-block-img {
    display: grid;
    /* Автоматически заполняем на всю ширину grid-контейнера */
    grid-template-columns: repeat(auto-fill, 360px);
    width: 100%;
    /* max-width: 1190px; */ /* Ширина grid-контейнера */
    justify-content: center;
    justify-items: center; /* Размещаем карточку по центру */
    column-gap: 30px; /* Отступ между колонками */
    row-gap: 20px; /* Отступ между рядами */
    margin: 0 auto 0 auto;
}

.Gas-station-Neftekor-arrow-img{
    height: 400px;
    margin-top: 150px;
}


@media(max-width:900px){
    .Gas-station-Neftekor-arrow-img {
        display: none;
    }
    .Neftekor-block {
        margin-left: 20px;
        margin-right: 20px;
    }
    .Neftekor-block-img-card img{
        width: 320px;
        height: 170px;
    }
    .Neftekor-block h2 {
        font-size: 40px;
        line-height: 40px;
    }
    .Neftekor-block p {
        font-size: 20px;
        line-height: 20px;
    }
}
@media(max-width:500px){
    .Neftekor-block {
        margin-left: 10px;
        margin-right: 10px;
    }
    .Neftekor-block-img-card img{
        width: 300px;
        height: 150px;
    }
    .Neftekor-block h2 {
        font-size: 30px;
        line-height: 35px;
    }
    .Neftekor-block p {
        font-size: 18px;
        line-height: 20px;
    }
    .Neftekor-block-img-card {
        width: auto;
        height: auto;
    }
    .Neftekor-block-img {
        display: block;
    }
    .Neftekor-block button {
        width: 300px;
    }
}
@media(max-width:400px){
    .Neftekor-block-img-card img{
        width: 250px;
        height: 150px;
    }
    .Neftekor-block-img-card h3 {
        font-size: 20px;
    }
    .Neftekor-block p {
        font-size: 15px;
    }
}