.home {
    width: auto;
    height: auto;
}

.home-p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 135px;
    max-width: 1920px;
    border-top: 1px dashed #4F4F4F;
    margin-left: auto;
    margin-right: auto;
    /* padding-bottom: 90px; */
}
.home-title {
    max-width: 1144px;
    height: auto;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 262px;
    text-align: center;
    /* background: #000000;
    backdrop-filter: blur(150px); */
}
.home-title h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #DBA833;
    max-width: 1000px;
    height: 154px;
    margin-left: auto;
    margin-right: auto;
}
.home-title p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #CECECE;
    margin-top: 15px;
    margin-bottom: 20px;

}
.home-title button{
    background: #DBA833;
    border-radius: 5px;
    width: 288px;
    height: 54px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

@media(max-width:930px){
    .home-title h1 {
        font-size: 55px;
        height: auto;
    }
};

@media(max-width:780px){
    .home-title {
        margin-top: 100px !important;
    }
}
@media(max-width:700px){
    .home-title h1{
        font-size: 45px;
        line-height: 50px;
    }
    .home-title p {
        font-size: 20px;
        line-height: 20px;

    }
    
    button{
        width: 250px !important;
        height: 45px !important;
        font-size: 16px !important;
    }
}

@media(max-width:490px){
    .home-title h1{
        font-size: 35px;
    }
    .home-title p {
        font-size: 15px;
    }
    button{
        width: 200px !important;
        height: 40px !important;
        font-size: 16px !important;
    }
}
@media(max-width:440px){
    .home-title h1{
        font-size: 27px;
    }
}