.Fuel-Manufacturers-img {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.Fuel-Manufacturers h2{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    text-align: center;
    color: #DBA833;
}
.Fuel-Manufacturers p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #5B5B5B;
    margin-top: 10px;
    margin-bottom: 20px;
}

.Fuel-Manufacturers {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 159px;
    margin-bottom: 150px;
}

.geography {
    max-width: 1200px;
    height: 760px;
    border-radius: 50%;
    background: #F8F8F8;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}

.Geography-of-supplies {
    background-image: url(/static/img/Geography-of-supplies.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

}

@media(max-width:900px){
    .geography {
        height: 310px;
        border-radius: 00%;
        background: #f8f8f800;
    }
    .Fuel-Manufacturers {
        margin-top: 29px;
        margin-bottom: 70px;
    }
}

@media(max-width:750px){
    .Fuel-Manufacturers h2 {
        font-size: 44px;
        line-height: 40px;
    }
    .Fuel-Manufacturers p {
        margin: 0px;
        font-size: 20px;
        line-height: 20px;
    }
}

@media(max-width:550px){
    .Fuel-Manufacturers h2 {
        font-size: 35px;
        line-height: 30px;
    }
    .Fuel-Manufacturers p {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 20px;
    }
}
@media(max-width:450px){
    .Fuel-Manufacturers h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .Fuel-Manufacturers p {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 20px;
    }
}