.reviews {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}
.reviews-block {
    max-width: 1200px;
    height: auto;
    background: #F8F8F8;
    border: 3px dashed #DBA833;
    border-radius: 150px;
    margin-left: auto;
    margin-right: auto;
}
.reviews-block h2{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    text-align: center;
    color: #000000;
    margin-top: 25px;
}

.reviews-block-card {
    display: flex;
}
.reviews-block-card img{
    margin-right: 53px;
    margin-left: 97px;
}

.reviews-block-card-text h2{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #DBA833;
}
.reviews-block-card-text p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #5B5B5B;
}

.reviews-block-card {
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 50px;
    height: 360px;
    max-width: 990px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.reviews-block-card:nth-child(4){
    margin-bottom: 62px;
}


@media(max-width:1250px){
    .reviews-block {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media(max-width:1100px){
    .reviews-block-card img {
        display: none;
    }
    .reviews-block-card {
        margin-left: 20px;
        margin-right: 20px;

    }
    .reviews-block-card-text {
        margin-left: auto;
        margin-right: auto;
        max-width: 630px;
    }
}

@media(max-width:800px){
    .reviews-block-card-text {
        max-width: 500px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .reviews-block-card {
        height: auto;
    }
    .reviews-block-card-text h2 {
        margin-top: 0;
    }
    .reviews-block-card-text p {
        margin-bottom: 20px;
    }
    .reviews-block {
        border-radius: 50px;
    }
}

@media(max-width:450px){
    .reviews-block-card-text p {
        font-size: 15px;
        line-height: 17px;
    }
    .reviews-block-card-text h2 {
        font-size: 25px;
    }
    .reviews-block-card {
        margin-left: 10px;
        margin-right: 10px;

    }
    .reviews-block {
        margin-left: 10px;
        margin-right: 10px;
    }
}